.sm-padding {
	padding: 10px;
}

.sm-padding-tb {
	padding-top: 10px;
	padding-bottom: 10px;
}

.m-padding-tb {
	padding-top: 30px;
	padding-bottom: 30px;
}

.l-padding-tb {
	padding-top: 100px;
	padding-bottom: 100px;
}
